{% extends "layout.html" %}

{% block title %}
  Feline's Guardian | Fostering a secure and safe environment for our Feline friends
{% endblock %}

{% block body %}
   <section id="about-us">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner header">
              <div class="carousel-item active">
                <p class="d-block w-100">" There's so many cats in this neighborhood!<br> The whole street smells like cat's urine!!!<br> Can you come and neuter some of them? "</p>
              </div>
              <div class="carousel-item">
                <p class="d-block w-100">" I saw this one cat that has wound all over its body.<br> Some are already inflected. Can you take it to the Vet?<br> I currently do not have enough money to do that. "</p>
              </div>
              <div class="carousel-item">
                <p class="d-block w-100">" My family will be moving out soon.<br> However, we cannot bring our cats with us.<br> Can you help us find their new home? "</p>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <form action="/forward" method="POST">
          <input type="text" name="inquiry" required minlength="10" placeholder="Your Inquiry" class="input"> 
          <input type="text" name="telephone" required minlength="10" placeholder="Your Telephone Number" class="input"> 
          <input type="submit">
        </form>
        
    </section>

    <section class="grid-container grid-cause top-padding">
        
        <section class="cause-1">
          <img src="/static/media/causes-1.jpg" alt="">
          <span class="cause-layout">
              <h3 class="cause-header Lexend">Support SomSom's Wound Recovery</h3>
              <article>
                  <p class="cause-info Urbanist">
                      SomSom had a severe case of cat fungal disease which causing him to had a fever, 
                      difficulty breathing, and a cough. To guarantee a complete 
                      recovery, his injuries necessitate immediate medical attention, 
                      including surgery, medicine, and continuing care.<br>
                  </p>
              </article>
              <section class="progress-bar">
                  <div id="first-donation" class="progress-value"></div>
              </section>
              <button data-popup-target="#donation-somsom" id="donation-button-somsom" class="cta-button">Donate</button>
              <section id="donation-somsom" class="popup" >    
                  <div class="popup-header">
                      <h2>Donate for <code id="somsom"></code></h2>
                      <button data-close-button><i class="fa-solid fa-xmark"></i></button>
                  </div>  
                                  
                  <form name="donate-specific">
                      <ul class="donate-amount">
                          <li>
                              <input type="radio" id="a250" name="amount" />
                              <label for="a250">250฿</label>
                          </li>
                          <li>
                              <input type="radio" id="a500" name="amount" />
                              <label for="a500">500฿</label>
                          </li>
                          <li>
                              <input type="radio" id="a750" name="amount" checked="checked" />
                              <label for="a750">750฿</label>
                          </li>
                          <li>
                              <input type="radio" id="a1000" name="amount" />
                              <label for="a1000">1000฿</label>
                          </li>
                          <li>
                              <input type="text" id="otherAmount" name="numAmount" placeholder="Enter Custom Amount"/>
                          </li>
                      </ul>
                  </form>
              </section>
              
          </span>
      </section>
      <section class="cause-2">
          <img src="/static/media/causes-2.jpg" alt="A banner for food-section">
          <span class="cause-layout">
              <h3 class="cause-header">Support the Funding of Noina's Medical Care</h3>
              <article>
                  <p class="cause-info Urbanist">
                      Noina was found in a distressed situation, with both physical 
                      and psychological wounds from the abuse she had endured.
                      To address her physical injuries and emotional pain, she will 
                      need specialized care, medical treatment, and ongoing support during her long and difficult healing journey.
                  </p>
              </article>
              <section class="progress-bar">
                  <div id="second-donation" class="progress-value"></div>
              </section>
              <button data-popup-target="#donation-noina" id="donation-button-noina" class="cta-button">Donate</button>
              <section id="donation-noina" class="popup" >    
                  <div class="popup-header">
                      <h2>Donate for <code id="noina"></code></h2>
                      <button data-close-button><i class="fa-solid fa-xmark"></i></button>
                  </div>  
                                
                  <form name="donate-specific">
                      <ul class="donate-amount">
                          <li>
                            <input type="radio" id="a250" name="amount" />
                            <label for="a250">250฿</label>
                          </li>
                          <li>
                            <input type="radio" id="a500" name="amount" />
                            <label for="a500">500฿</label>
                          </li>
                          <li>
                            <input type="radio" id="a750" name="amount" checked="checked" />
                            <label for="a750">750฿</label>
                          </li>
                          <li>
                            <input type="radio" id="a1000" name="amount" />
                            <label for="a1000">1000฿</label>
                          </li>
                          <li>
                            <input type="text" id="otherAmount" name="numAmount" placeholder="Enter Custom Amount"/>
                          </li>
                      </ul>
                  </form>
              </section>
          </span>
      </section>
            
    </section>   

    <section class="achievements">
        <div class="flex-container">
            <section class="nautilus">
                <img src="/static/media/our-achievements-sugar.jpg">
                <img src="/static/media/our-achievements-brownie.jpg">
                <img src="/static/media/our-achievements-dummiam.jpg">
                <img src="/static/media/our-achievements-dummy.jpg">
                <img src="/static/media/our-achievements-somjude.jpg">
                <img src="/static/media/our-achievements-somwhan.jpg">
                <img src="/static/media/our-achievements-yumyum-1.jpg">
            </section>
            <section class="achievements-heading">
                <h2 class="achievements-header Lexend">Our Achievements</h2>
                <div class="back-img">   
                    <i class="fa-solid fa-circle-play play-button"></i> 
                </div>
            </section>
        </div>  
    </section>

    <section id="track">
        <h1 class="header header-padding">Track Your Donation</h1>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                  <div class="card">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/media/slip-1.JPG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/static/media/an-advocate-for-change.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>   
    </section>
{% endblock %}