{% extends "layout.html" %}

{% block title %}
  Feline's Guardian | Track your Inquiry
{% endblock %}

{% block body %}
  <div class="Urbanist">
    {% for user in users %}
      <div class="grid-container grid-box">
        <div class="card">
            <h5 class="card-header">{{ user.issue }} <span class="track-id"> {{ user.id }}</span></h5>
            <div class="card-body">
                <p class="card-text">{{ user.information }}<br></p>
                <div class="flex-container">
                    <p class="inquiry-progression">{{ user.progression }}</p>
                </div>
            </div>
        </div>
      </div>
    {% endfor %}
    <div class="grid-container">
      <div class="user-information">
          <h3>Your Information:</h3>
          <p>
              <i class="fa-solid fa-user"></i><span class="information"> {{ users[last_index].first_name }} {{ users[last_index].last_name }}<br></span>
              <i class="fa-solid fa-envelope"></i><span class="information"> {{ users[last_index].email }}<br></span>
              <i class="fa-solid fa-phone"></i><span class="information"> {{ users[last_index].telephone }}<br></span>
          </p>
      </div>
    </div>
  </div>
  
{% endblock %}